.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ValueBox {
  background-color: #33D4FF;
  text-align: center;
}

.ResultBox {
  background-color: #ffb3b3;
}

.BoxesInMiddle {
  width: 66.66%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
}

.SpaceBetweenBox {
  top: 10;
}

.InputLine {
  margin-top: 32px;
  width: 60px;
}

.ResultBoxText {
  margin-top: 13px;
}
